* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;          /* max-width ki jagah width use karo */
  overflow-x: clip;

}
.secondbar {
  position: sticky;   /* ya fixed */
  top: 0;
  background: white;
  z-index: 1000;
}
